<%= form_for @annoucnment do |f|%>
    <div class="col-xs-12 col-sm-12 col-md-12">
      <% if @annoucnment.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@annoucnment.errors.count, "errors") %> forbidden to save this announcement:</h2>
            <ul>
              <% @annoucnment.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4">

      <div class="col-xs-12 col-sm-12 col-md-12">
        <%= f.label 'Image' %>
        <%= f.file_field :logo %>
      </div>


      <div class="col-xs-12 col-sm-12 col-md-12">
        <%= f.label 'Title' %>
        <%= f.text_field :title, placeholder: 'Title*', :class => "form-control" %>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12">
        <%= f.label 'Body' %>
        <%= f.text_area :body, placeholder: 'Body*', :class => "form-control" %>
      </div>


        <div class="action">
          <%= f.submit  %>
        </div>
    </div>
<%end %>
