<div class="container-fluid">
  <%= link_to 'Create new one', new_announcment_path, class: 'btn btn-success' %>
  <% if user_signed_in? %>
  <%= link_to 'Log out', destroy_user_session_path, :method => :delete  %>
  <%else %>
  <%= link_to 'Login', new_user_session_path %> |
      <%= link_to 'Register', new_user_registration_path %>
  <%end %>
  <div>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>logo</th>
      <th>User name</th>
      <th>Department</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <% @annoucnments.each do |a| %>
    <tr>
          <td><%= a.title %></td>
          <td><%= truncate(a.body, length: 50) %></td>
          <td><%= image_tag(a.logo, size: '50x50') %></td>
          <td><%= a.try(:user).try(:name) %></td>
          <td><%= a.try(:user).try(:department).try(:name) %></td>
          <td>
            <%= link_to 'JSON single', api_announcment_path(a) %> |
            <%= link_to 'HTML single', announcment_path(a.id) %>
          </td>
    </tr>
    <%end %>
    </tbody>
  </table>
  </div>
</div>

