<div class="container-fluid">

  <div class="row">
    <div class="col-md-8">
      <h4><b>Annoucment information</b></h4>
      <div>
        <strong>Title</strong>
        <p><%= @annoucnment.title %></p>
      </div>


      <div>
        <strong>Body</strong>
        <p><%= @annoucnment.body %></p>
      </div>

      <div>
        <strong>Image</strong>
        <p><%= image_tag(@annoucnment.logo, size: '100x100') %></p>
      </div>

      <div>
        <strong>User Name</strong>
        <p><%= @annoucnment.try(:user).try(:name)  %></p>
      </div>

      <div>
        <strong>Department</strong>
        <p><%= @annoucnment.try(:user).try(:department).try(:name) %></p>
      </div>
    </div>
    <div class="col-md-4">
      <h4><b>Comment about annoucment</b></h4>

      <% @comments.each do |c| %>
          <div>
            <%= c.try(:user).try(:name) %>:
            <%= c.content %>
          </div>

      <%end %>

      <%= form_tag(new_comment_path(@annoucnment.id), method: :post, remote: true) do %>
          <%= hidden_field_tag :user_id,  current_user.id %>
          <%= text_area_tag :content %>
          <%= submit_tag 'Send' %>
      <% end %>
    </div>
  </div>

</div>

